<h1 mat-dialog-title>{{ data.task.id ? 'Edit Task' : 'Create Task' }}</h1>
<div mat-dialog-content>
  <form [formGroup]="taskForm" (ngSubmit)="onSubmit()">
    <mat-form-field appearance="fill">
      <mat-label>Title</mat-label>
      <input matInput formControlName="title" />
      <mat-error *ngIf="taskForm.controls['title'].invalid">
        Title is required.
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Description</mat-label>
      <textarea matInput formControlName="description"></textarea>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Status</mat-label>
      <mat-select formControlName="status">
        <mat-option value="To Do">To Do</mat-option>
        <mat-option value="In Progress">In Progress</mat-option>
        <mat-option value="Done">Done</mat-option>
      </mat-select>
    </mat-form-field>
    
    <mat-form-field appearance="fill">
      <mat-label>Assign User</mat-label>
      <mat-select formControlName="assignedUser"> <!-- User selection dropdown -->
        <mat-option *ngFor="let user of users" [value]="user">{{ user }}</mat-option>
      </mat-select>
    </mat-form-field>

    <button mat-raised-button color="primary" type="submit">Save</button>
  </form>
</div>
    