<div class="task-card">
    <div class="task-body">
      <div class="skeleton-loader skeleton-title"></div>
      <div class="skeleton-loader skeleton-text"></div>
    </div>
    <div class="task-footer">
      <div class="skeleton-loader skeleton-button"></div>
      <div class="skeleton-loader skeleton-button"></div>
    </div>
</div>
<div class="task-card">
  <div class="task-body">
    <div class="skeleton-loader skeleton-title"></div>
    <div class="skeleton-loader skeleton-text"></div>
  </div>
  <div class="task-footer">
    <div class="skeleton-loader skeleton-button"></div>
    <div class="skeleton-loader skeleton-button"></div>
  </div>
</div>
