<div id="task-container">
  <div id="container-header">
    <button mat-raised-button color="primary" id="form-button" (click)="openTaskForm()">Add Task</button>
  </div>

  <div id="task-sections">
    <div class="task-section">
      <h2>To Do</h2>
      <app-task-list [status]="'To Do'" #toDoList></app-task-list>
    </div>

    <div class="task-section">
      <h2>In Progress</h2>
      <app-task-list [status]="'In Progress'" #inProgressList></app-task-list>
    </div>

    <div class="task-section">
      <h2>Done</h2>
      <app-task-list [status]="'Done'" #doneList></app-task-list>
    </div>
  </div>
</div>
