body
    background: #f2f2fc

.container
  width: 80%
  margin: 0 auto


.task-form-section
  margin-bottom: 20px


.task-sections
  display: flex
  justify-content: space-between


.task-section
  flex: 1
  margin-right: 20px


.task-section h2
  border-bottom: 2px solid #ccc
  padding-bottom: 10px


.task-section:last-child
  margin-right: 0

