<div class="task-container">
    <div class="task-column">
      <h3>To Do</h3>
      <div *ngFor="let task of tasksToDo" class="task-card">
        <h4>{{ task.title }}</h4>
        <p>{{ task.description }}</p>
      </div>
    </div>
    
    <div class="task-column">
      <h3>In Progress</h3>
      <div *ngFor="let task of tasksInProgress" class="task-card">
        <h4>{{ task.title }}</h4>
        <p>{{ task.description }}</p>
      </div>
    </div>
    
    <div class="task-column">
      <h3>Done</h3>
      <div *ngFor="let task of tasksDone" class="task-card">
        <h4>{{ task.title }}</h4>
        <p>{{ task.description }}</p>
      </div>
    </div>
  </div>
  