.task-container 
  display: flex
  justify-content: space-between

.task-column 
  width: 30%
  padding: 10px
  background-color: #f9f9f9
  border-radius: 5px

.task-card 
  padding: 10px
  margin-bottom: 10px
  background-color: #ffffff
  border: 1px solid #ddd
  border-radius: 5px
