<div *ngIf="loading" class="task-card-container">
  <app-skeleton-loader></app-skeleton-loader>
</div>

<!-- Actual task list when loading is complete -->
<div *ngIf="!loading" class="task-card-container">
  <div *ngFor="let task of tasks" class="task-card" [ngClass]="getCategoryClass(task.status)">
    <div class="task-body">
      <h3 class="task-title" [ngClass]="getCategoryClass(task.status)">{{ task.title }}</h3>
      <p>{{ task.description }}</p>
    </div>
    <div class="task-footer">
      <div class="task-info"></div>
      <div class="task-actions">
        <button class="action-button edit-button" (click)="editTask(task)">Edit</button>
        <button class="action-button delete-button" (click)="deleteTask(task.id)">Delete</button>
      </div>
    </div>
  </div>
</div>
